@import url(./digits__blocks/digits__blocks.css);
@import url(../techniques/techniques__blocks/techniques__blocks_title-subtitle/techniques__blocks_title-subtitle.css);
.content__digits{
    display: flex;
    padding-top: 100px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.content__digits__table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    margin-bottom: 100px;
}
