.resouces__logo-zone_links-arzamas {
    
    height: 38px;
    width:  270px;
    background-image: url(./resouces__logo-zone_link-images/resources-arzamas.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}