.resouces__logo-zone_links-polka {
    background-position: center;
    height: 38px;
    width:  270px;
    background-image: url(./resouces__logo-zone_link-images/resources-polka.svg);
    background-size: contain;
    background-repeat: no-repeat;
}