.resouces__logo-zone_links-n-1 {
    
    height: 38px;
    width:  270px;
    background-image:url(./resouces__logo-zone_link-images/resources-n1.svg); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}