
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
  }
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    /* выше установили ограничения для секции */
    position: relative;
    display: flex;
  }
  
.header__link{
    color:#2f80ed;
    text-decoration: none;
    }
    .header__square-pic{
      background-color: #2f80ed;
      height: 568px;
      width:568px;
      position: absolute;
      right: 0;
      margin-top: 64px;
    }
    .header__main-illustration{
      background-image: url(../header/__main-img/header__main-img.png);
      height: 608px;
      width: 765px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-size: cover;
    }
    .logo_place_header{
      background-image: url(../header/__logo/header__logo.svg);
      height: 32px;
      width: 228px;
      left: 64px;
      background-size:contain;
      position: absolute;
      top: 30px;
      
    }
    .header__title{
      width: 730px;
      font-size: 102px;
      font-weight: 600;
      line-height: 96px;
      margin:0 0 0 64px;
      display: flex;
    align-self: center;
    z-index: 1;
    }
    
    .header__subtitle{
      width: 388px;
      left: 64px;
      bottom: 30px;
      line-height: 25px;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
    }